<script type="text/javascript">
    function onRegister() {
        document.getElementById("registrationForm").submit();
    }
</script>

{{#if msg}}
<script>
    alert('{{msg}}');
</script>
{{/if}}
{{!-- Registration Form --}}
<center>
    <div class="subtitle-font mt-5 mb-5">Registration</div>
</center>

<div class="container-1-1-1">
    <div></div>
    <div class="b-1 p-20">
        <form id="registrationForm" action="/register" method="POST">
            <div class="label-1">Email Address</div>
            <input class="w-100p h-33" type="text" name="email" />
            <p style="color: red;">
                {{#if errors}}
                {{errors.email.msg}}
                {{/if}}
            </p>
            <div class="label-1 mt-10">Confirm Email Address</div>
            <input class="w-100p h-33" type="text" name="confirmEmail" />
            <p style="color: red;">
                {{#if errors}}
                {{errors.confirmEmail.msg}}
                {{/if}}
            </p>
            <div class="label-1 mt-10">Password</div>
            <input class="w-100p h-33" type="password" name="password" />
            <p style="color: red;">
                {{#if errors}}
                {{errors.password.msg}}
                {{/if}}
            </p>
            <div class="label-1 mt-10">Confirm Password</div>
            <input class="w-100p h-33" type="password" name="confirmPassword" />
            <p style="color: red;">
                {{#if errors}}
                {{errors.confirmPassword.msg}}
                {{/if}}
            </p>
            <div class="center-content mt-10">
                <div class="btn btn-success mt-10 center-content" onclick="onRegister()">Register</div>
                &nbsp;&nbsp;&nbsp;
                <a class="remove-decoration mt-10" href="/">
                    <div class="btn btn-danger center-content">Cancel</div>
                </a>
            </div>
        </form>
    </div>
    <div></div>
</div>